# IDE and build artifacts
.vs/
.vscode/
.idea/
**/Debug/
**/Release/
**/x64/
**/db/
**/incremental_db/
**/output_files/
**/simulation/
**/greybox_tmp/
**/.metadata/
**/.settings/
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.ipch
*.tlog
*.wlf
*.bak
*.qws
*.rpt
*.smsg
*.qmsg
*.sof
*.pof
*.jdi
*.log
*.user
